/* ===============================
   FLOATING WHATSAPP
================================ */

.floating-whatsapp{

position:fixed;

bottom:25px;

right:25px;

width:68px;

height:68px;

border-radius:50%;

background:#25D366;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:34px;

box-shadow:0 15px 35px rgba(0,0,0,.25);

z-index:9999;

transition:.3s;

animation:whatsappFloat 2s infinite;

}

.floating-whatsapp:hover{

transform:scale(1.12);

background:#1ebe5d;

}

@keyframes whatsappFloat{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-8px);

}

100%{

transform:translateY(0);

}

}

@media(max-width:768px){

.floating-whatsapp{

width:60px;

height:60px;

font-size:30px;

right:18px;

bottom:18px;

}

}