/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;600;700;800&display=swap');

:root{

    --primary:#2563EB;
    --dark:#0F172A;
    --green:#22C55E;
    --yellow:#FACC15;
    --white:#ffffff;
    --light:#F8FAFC;
    --text:#334155;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;
    background:var(--light);
    color:var(--text);
    overflow-x:hidden;

}

h1,h2,h3,h4{

    font-family:'Poppins',sans-serif;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

img{

    width:100%;
    display:block;

}

.container{

    width:90%;
    max-width:1300px;
    margin:auto;

}